<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo List</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
  </head>
  <body ng-app="ListApp">
   <div class="row">
    <div ng-controller="ListController" class="col-sm-4 col-sm-offset-4 list">
    	
     <div class="add-item">
        <input type="text" ng-model="item.name"> <button ng-click="saveItem();"><span class="glyphicon glyphicon-plus"></span></button>
     </div>
    
     <div ng-repeat="list in lists track by $index" class="list-item">
    	<div contenteditable="{{ editmode }}" ng-model="list" class="pull-left items"></div>
    		
         <div class="pull-right options">
    		<span class="glyphicon glyphicon-remove remove" ng-click="remove($index);"></span>
    		<span class="glyphicon glyphicon-edit edit" ng-click="toggleEditMode()"></span>
			<span ng-click="edit(list, $index);" class="glyphicon glyphicon-floppy-disk save"></span>
         </div>
    	<br>
     </div>
       

    </div>
   </div>
  </body>
</html>